<div id="splash">
	<div id="sun">
		{% include_relative /assets/img/sun.svg %} 
	</div>
	<div class="clouds">
		{% include_relative /assets/img/cloud.svg %} 
	</div>
	<div class="clouds">
		{% include_relative /assets/img/cloud.svg %} 
	</div>
	<div class="clouds">
		{% include_relative /assets/img/cloud.svg %} 
	</div>
	<div class="clouds">
		{% include_relative /assets/img/cloud.svg %} 
	</div>
	<div class="clouds">
		{% include_relative /assets/img/cloud.svg %} 
	</div>
	<div id="sea-title">
		<div id="white-bg-box1">
			<p>SOLAR</p>
		</div>
		<div id="white-bg-box2">
			<p>ENERGY</p>
		</div>
		<div id="white-bg-box3">
			<p>ASSOCIATION</p>
		</div>
	</div>
	<div id="learn-more">
		<div id="blue-box">
			<p>Learn More!</p>
		</div>
	</div>
</div>

<div id="about">
	{{ about }}
</div>

<div id="contact">
	{{ contact }}
</div>

<div id="footer">
	{{ footer }}
</div>
