:root {
	/* Color variables. */
	--splash-primary:    #4BA4ED;  /* Blue.       */
	--splash-secondary:  #ED4B76;  /* Pink.       */
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
}

#splash {
	background: linear-gradient(243.18deg, #4BA4ED 0%, #ED4B76 100%);
	height: 100vh;
	width: 100%;
}
