:root {
	/* Color variables. */
	--nav-text:          #FFFFFF;  /* White              */
	--splash-primary:    #4BA4ED;  /* Blue               */
	--splash-secondary:  #ED4B76;  /* Pink               */
	--grey-dim:          #424549;  /* Grey dim           */
	--sunny-a:           #E1CF26;  /* Sunny color A      */
	--sunny-b:           #F6BF58;  /* Sunny color B      */
}

@font-face {
	font-family: Roboto Slab;
	src: url("/assets/ttf/RobotoSlab-VariableFont_wght.ttf");
	src:url()
}

@font-face {
	font-family: Saira;
	src: url(/assets/ttf/Saira-VariableFont_wdth\,wght.ttf);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	overflow-x: hidden;
}

#navbar {
	position: fixed;
	transition-duration: 0.7s;
	height: 0px;
	width: 100%;
	z-index: 2;
}

#sea-title {
	display: flex;
	align-items:flex-start;
	align-content: center;
	flex-direction: column;
}

#sea-title p {
	vertical-align: middle;
	line-height: 104px;
	font-family: Saira;
	font-style: normal;
	font-weight: normal;
	font-size: 96px;
	margin-left: 5vh;
	letter-spacing: 0.12em;
	color: #EEC851;
	z-index: 10;
	font-weight: 800;
}

#sea-title #white-bg-box1 {
	margin-top: 15vh;
	height: 104px;
	width: auto;
	margin-bottom: 6vh;
	background: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.8;
	border-radius: 0 25px 25px 0;
}
#sea-title #white-bg-box2 {
	height: 104px;
	width: auto;
	margin-bottom: 6vh;
	background: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.8;
	border-radius: 0 25px 25px 0;
}
#sea-title #white-bg-box3 {
	height: 104px;
	width: auto;
	margin-bottom: 6vh;
	background: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.8;
	border-radius: 0 25px 25px 0;
}

#learn-more {
	display: flex;
	margin-left: 5vw;
	margin-top: 5vh;
	align-items: center;
	cursor: pointer;
}

#learn-more #blue-box p {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	letter-spacing: 0.12em;

	color: #FFFFFF;
}

#learn-more #blue-box {
	width: 386px;
	height: 90px;
		display: flex;
		align-items: center;
		justify-content: center;
	background: #53B3C8;
	box-sizing: border-box;
	box-shadow: inset 4px 3px 4px rgba(0, 0, 0, 0.25);
	border-radius: 35px;
}

#splash {
	background: linear-gradient(243.18deg, var(--splash-primary) 0%, var(--splash-secondary) 100%);
	height: 100vh;
	width: 100%;
}

#sun {
	position: absolute;
	width: 45%;
	height:auto;
	left: 60vw;
	top: 15vh;
}

.clouds {
	position: absolute;
	top: 10vh;
	left: -20%;
	animation: cloudAnim 5s;
}

.clouds:nth-child(1) {
	position: absolute;
	top: 15vh;
	left: -20%;
	animation: cloudAnim 4s;
}
.clouds:nth-child(2) {
	position: absolute;
	top: 38vh;
	left: -20%;
	animation: cloudAnim 9s;
}
.clouds:nth-child(3) {
	position: absolute;
	top: 53vh;
	left: -20%;
	animation: cloudAnim 7s;
}
.clouds:nth-child(4) {
	position: absolute;
	top: 78vh;
	left: -20%;
	animation: cloudAnim 3s;
}

@keyframes cloudAnim {
	from {
		left: 100%;
	}

	to {
		left: -20%;
	}
}

#about {
	background-color: var(--splash-secondary);
	height: 100vh;
	width: 100%;
}

#contact {
	background-color: var(--splash-primary);
	height: 100vh;
	width: 100%;
}

#footer {
	background-color: var(--grey-dim);
	height: 64px;
	width: 100%;
}

.navbar-sticky {
	background-color: black !important;
	height: 64px !important;
}

.navbar-sticky .navbar-links .navbar-link {
	margin-top: -22px;
}

.navbar-sticky .navbar-links .selected {
	padding-bottom: 0px;
}

.navbar-links {
	display: flex;
	float: right;
	list-style-type: none;
	margin-top: 32px;
	margin-right: 64px;
	transition-duration: 0.7s;
}

.navbar-link {
	align-items: center;
	color: var(--nav-text);
	display: flex;
	font-family: Roboto Slab;
	font-size: 30px;
	justify-content: center;
	letter-spacing: 0.12em;
	line-height: 40px;
	margin-right: 32px;
	text-decoration: none;
	transition-duration: 0.7s;
}

.selected {
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-image: linear-gradient(180deg, var(--sunny-a) 0%, var(--sunny-b) 100%) 1;
	padding-bottom: 4px;
}
